/* INDEX */

.messages__actions {
  @apply p-2;
  display: grid;
  justify-content: space-between;
  grid-gap: 1em;
  grid-template-columns: minmax(1fr, max-content) minmax(max-content, 1fr);
  grid-template-areas: "messages__team-filter messages__new-message-button";
}

.messages__team-filter {
  grid-area: messages__team-filter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages__new-message-button {
  grid-area: messages__new-message-button;
}

/* SHOW */

.message__toolbar {
  display: grid;
  justify-content: space-between;
  grid-gap: 0.2em;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "message__author message__actions"
  "message__tags message__tags"
}

.message__author {
  grid-area: message__author;
}

.message__actions {
  grid-area: message__actions;
  justify-self: end;
}

.message__tags {
  grid-area: message__tags;
}
