<html>
  <head>
    <style type="text/css">
      a {
        color: #38A169;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div style="font-family:sans-serif;margin-bottom: 15px;margin-top:15px;padding:2px;">
      <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;padding:2px;border-radius:5px;">
        <div style="text-align:center;">
          <h1 style="color:#38A169;">Palapa</h1>
          <h2><%= gettext("Daily recap for %{organization}",%{organization: @organization.name}) %></h2>
          <p style="color:#3182CE;"><%= gettext("Here's the latest activity for the workspace") %></p>
        </div>
        <div>
          <%= render_many @events, PalapaWeb.EventView, "daily_recap_event.html", conn: PalapaWeb.Endpoint, current_account: @account %>
        </div>

        <p style="text-align:center;"><%= link gettext("See more activity"), to: Routes.message_url(PalapaWeb.Endpoint, :index, @organization) %></p>
      </div>

      <td style="padding:38px 18px">
        <div style="border-top:1px solid hsl(0,0%,88%)"></div>
      </td>

      <div style="margin:0px auto;max-width:600px;padding:10px;">
        <p><%= raw gettext("Change your Palapa %{settings_link} if you don't want to receive this daily recap anymore.", %{settings_link: safe_to_string(link(gettext("account settings"), to: Routes.account_url(PalapaWeb.Endpoint, :edit)))}) %></p>
      </div>
    </div>
  </body>
</html>
