<figure class="attachment text-center">
  <a href="<%= @embedded_attachment.url %>" class="attachment-gallery-item">
    <img src="<%= @embedded_attachment.url %>">
  </a>

  <figcaption class="text-sm">
    <span class="font-bold mr-2"><%= @embedded_attachment.caption %></span>
  </figcaption>
</figure>
