<div class="content page-layout">
  <div class="main-content" data-controller="message">
    <div class="card p-1 sm:p-8">
      <h2 class="card-header">New contact</h2>
      <div class="card-header-separator"></div>

      <%= render "form.html", assigns  %>
      
    </div>
  </div>
</div>
