@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Quicksand:400,700&display=swap");

body {
  /* font-family: "Nunito", sans-serif; */
}

h1 {
  /* font-family: "Quicksand", sans-serif; */
  font-weight: 700;
}

h2 {
  /* font-family: "Quicksand", sans-serif; */
}

h3 {
  /* font-family: "Quicksand", sans-serif; */
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.divider-bottom {
  border-bottom-left-radius: 30% 10%;
  border-bottom-right-radius: 30% 10%;
}

.divider-top {
  border-top-left-radius: 30% 10%;
  border-top-right-radius: 30% 10%;
}

.btn {
  white-space: nowrap;
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.1);
  @apply rounded;
  @apply font-medium border-b-2 border-r-2;
  @apply p-2 align-middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @apply font-bold;

  &:hover {
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.2);
  }

  &:focus {
    box-shadow: 0 0 0 0.2em theme("colors.blue.100");
  }

  &:active {
    box-shadow: inset 0 0.2em 0.3em rgba(27, 31, 35, 0.1);
  }

  &:disabled {
    @apply opacity-75;
  }
}

.texture-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2347c18d' fill-opacity='0.19' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
