.avatar {
  @apply flex justify-center items-center rounded-full text-white;
}

.avatar--md {
  @apply text-3xl;
  height: 100px;
  width: 100px;
}

.avatar--sm {
  @apply text-xl;
  height: 50px;
  width: 50px;
}

.avatar--xs {
  @apply text-xs;

  height: 25px;
  width: 25px;
}
