button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.btn {
  white-space: nowrap;
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.1);
  @apply rounded;
  @apply font-medium border-b-2 border-r-2;
  @apply p-2 h-10 align-middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @apply text-sm text-gray-800;
  background-color: theme("colors.white");

  &:hover {
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.2);
  }

  &:focus {
    box-shadow: 0 0 0 0.2em theme("colors.blue.100");
  }

  &:active {
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.1);
    @apply border;
  }

  &:disabled {
    @apply opacity-75;
  }
}

.btn-green {
  color: #fff;
  background-color: theme("colors.green.500");
  background-image: linear-gradient(
    -180deg,
    #34d058 0%,
    theme("colors.green.500") 90%
  );

  &:hover {
    background-color: theme("colors.green.600");
    background-image: linear-gradient(
      -180deg,
      theme("colors.green.400") 0%,
      theme("colors.green.500") 90%
    );
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.1);
  }

  &:focus {
    box-shadow: 0 0 0 0.2em theme("colors.blue.400");
  }
}

.btn-red {
  color: #fff;
  background-color: theme("colors.red.600");
  background-image: linear-gradient(
    -180deg,
    theme("colors.red.400") 0%,
    theme("colors.red.400") 90%
  );

  &:hover {
    background-color: theme("colors.red.600");
    background-image: linear-gradient(
      -180deg,
      theme("colors.red.400") 0%,
      theme("colors.red.600") 90%
    );
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.1);
  }

  &:focus {
    box-shadow: 0 0 0 0.2em theme("colors.red.100");
  }
}

.btn-round {
  @apply py-1 px-2 font-bold bg-blue-500 text-white rounded-full;

  &:hover {
    @apply bg-blue-600;
  }
}
