a:link { 
  @apply text-blue-dark;
  text-decoration: none;
}

a:visited { 
  @apply text-blue-dark;
  text-decoration: none;
}

a:hover { 
  @apply text-blue-dark;
  text-decoration: underline;
}

a:active { 
  @apply text-blue-dark;
  text-decoration: underline;
}
