input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.field {
  @apply my-3 flex flex-col;
}

.label {
  @apply inline-block mb-2;
  @apply text-blue-900 text-xs tracking-wider leading-none font-normal;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply py-2 px-1;
  @apply appearance-none border rounded leading-normal;
  @apply text-gray-800 text-sm;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  border-radius: 4px;
  height: 16px;
  width: 16px;
  background: #fff;
  cursor: pointer;
  @apply border mr-2 align-middle;
}

input[type="checkbox"]:checked {
  @apply bg-green-500 border-transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

input[type="checkbox"]:disabled {
  @apply bg-green-200;
  cursor: not-allowed;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  border-radius: 10px;
  height: 18px;
  width: 18px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type="radio"]:checked {
  margin: 0px;
  position: relative;
  @apply bg-green-500 border-4 border-green-200;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply w-full py-2 px-1;
  @apply appearance-none border rounded leading-normal;
  @apply bg-white text-gray-800 text-sm;
}

.error {
  position: relative;
  z-index: 10;
  padding: 5px 8px;
  margin: 1px 0 0;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
  @apply text-white;
  @apply bg-red-400;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: theme("colors.red-400");
    border-width: 5px;
  }

  &::after {
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: theme("colors.red-400");
    border-width: 5px;
  }
}

.required::after {
  content: "*";
  @apply text-red-500;
}
