input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.field {
  @apply mt-3;
}

.label {
  @apply inline-block;
  @apply mb-2;
  @apply text-grey-darker text-sm font-bold;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply w-full py-2 px-1;
  @apply appearance-none border rounded leading-normal;
  @apply text-grey-darkest text-sm;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #FFF;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  margin: 0px;
  position: relative;
  @apply bg-green;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; 
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  border-radius: 10px;
  height: 15px;
  width: 15px;
  background: #FFF;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type="radio"]:checked {
  margin: 0px;
  position: relative;
  @apply bg-green border-4 border-green-lighter;
}

.error {
  position: relative;
  z-index: 10;
  display: inline-block;
  max-width: 450px;
  padding: 5px 8px;
  margin: 1px 0 0;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
  @apply text-white;
  @apply bg-red-light;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: config('colors.red-light');
    border-width: 5px;
  }

  &::after {
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: config('colors.red-light');
    border-width: 5px;
  }
}
