.message-content {
  @apply leading-normal;
  @apply text-grey-darkest;

  div {
    @apply mt-4;
  }
  
  h1 {
    @apply text-xl;
    @apply mt-2;
  }

  h2 {
    @apply text-lg;
    @apply mt-4;
  }

  p {
    @apply my-1;
  }

  a {
    @apply text-blue-darkest;
    text-decoration: underline !important;

    &:visited {
      @apply text-blue-darkest;
    }
  }

  blockquote {
    @apply text-purple-dark italic;
    @apply border-l-2 border-purple-light;
    @apply bg-purple-lightest;
    @apply my-4 py-4 px-4;
  }

  img {
    width: auto;
    height: auto;
  }
}
