.organization-name {
  @apply text-lg font-bold px-2 text-white;
}

.header-links {
  @apply mt-8;
}

.header-link {
  @apply py-2 my-4;

  a {
    @apply rounded-lg text-gray-500 px-2 py-1;

    &:hover {
      @apply text-white;
      background-color: rgb(84, 142, 227, 0.5);
    }
  }
}

.header-link--active {
  a {
    @apply text-white;
    background-color: rgb(84, 142, 227);

    &:hover {
      @apply text-white;
    }
  }
}

.pagination {
  @apply text-gray-800 font-bold p-1 rounded-lg inline-block;

  li {
    @apply inline-block px-1;

    a {
      @apply p-1;
      @apply text-gray-800;
    }

    &.active {
      @apply bg-green-500 rounded;

      a {
        @apply text-white !important;
      }

      a:visited {
        @apply text-white !important;
      }
    }
  }
}

.search-bar {
  @apply flex flex-no-wrap items-center;
  @apply p-2 rounded-full text-gray-800 text-sm border;

  input {
    @apply bg-transparent;
  }

  &:focus-within {
    @apply shadow;
  }
}

.separator {
  @apply border-2 rounded-full border-gray-400 w-32 my-4 text-center;
}

.navigation {
  @apply py-2 px-4 text-xs;
}

.breadcrumbs {
  @apply text-left text-sm;

  .breadcrumb-item:first-child {
    &::before {
      content: none;
    }
  }

  .breadcrumb-item:last-child {
    a {
      @apply text-gray-700;
    }
  }
}

.breadcrumb-item {
  @apply inline-block;
  @apply text-gray-600 align-middle;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;

  a {
    @apply text-green-500 align-middle;

    &:hover {
      @apply opacity-100 underline;
    }
  }

  &::before {
    content: "/";
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.page-menu {
  @apply bg-white rounded p-4;
}
.page-menu-title {
  @apply mb-4 text-xl text-blue-500;
}

.page-menu-items {
  @apply;
}

.page-menu-item {
  @apply p-2 rounded;

  &:hover {
    @apply bg-gray-100;
  }

  a,
  a:visited {
    display: block;
    color: inherit;
  }
}

.page-menu-item--active {
  @apply bg-green-100 font-bold !important;
}

.page-menu-link {
  @apply text-gray-800;
}
