.rich-text-content {
  @apply leading-normal;
  @apply text-gray-800;

  div {
    @apply mt-4;
  }

  h1 {
    @apply text-xl font-bold;
    @apply mt-2;
  }

  h2 {
    @apply text-lg font-bold;
    @apply mt-4;
  }

  p {
    @apply my-1;
  }

  a {
    @apply text-blue-900;
    text-decoration: underline !important;

    &:visited {
      @apply text-blue-900;
    }
  }

  blockquote  {
    @apply text-blue-600 italic;
    @apply border-l-2 border-blue-400;
    @apply bg-purple-100;
    @apply my-4 py-4 px-4;
  }

  pre {
    @apply text-sm;
    @apply p-2 my-2 bg-gray-100 rounded;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
  }

  figure.attachment {
    text-align: center;
  }

  figcaption {
    @apply my-2;
  }

  .attachment {
    width: auto;
    height: auto;
    @apply my-4 text-center;

    img {
      display: inline;
    }
  }
}
