.rich-text-content {
  @apply leading-normal;
  @apply text-gray-800;

  h1 {
    @apply text-xl font-bold;
    @apply mt-2;
  }

  h2 {
    @apply text-lg font-bold;
    @apply mt-2;
  }

  div {
    @apply my-2;
  }

  a {
    @apply text-blue-900;
    text-decoration: underline !important;

    &:visited {
      @apply text-blue-900;
    }
  }

  blockquote  {
    @apply text-blue-600 italic;
    @apply border-l-2 border-blue-400;
    @apply bg-gray-100;
    @apply my-2 p-4;
  }

  pre {
    @apply text-sm;
    @apply p-4 my-2 bg-gray-100 rounded;
    font-family: monospace;
    white-space: pre;
    display: inline-block;
    vertical-align: top;
    overflow-x: auto;
    width: 100%;
  }

  ul {
    @apply list-disc my-2 mx-4;
  }

  ol {
    @apply list-decimal my-2 mx-4;
  }

  figure.attachment {
    text-align: center;
  }

  figcaption {
    @apply my-2;
  }

  .attachment {
    width: auto;
    height: auto;
    @apply my-4 text-center;

    img {
      display: inline;
    }
  }

  .attachment a:hover,
  .attachment a:visited:hover {
    color: inherit;
  }
}
