<div class="content article-layout">
  <div class="right-sidebar">
    <div class="card">
      <nav>
        <ul class="list-reset">
          <li class="p-2"><%= link "Workspace settings", to: workspace_path(@conn, :show, @current_organization) %></li>
          <li class="p-2"><%= link "Billing", to: billing_path(@conn, :index, @current_organization) %></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="main-content">
    Workspace Settings
  </div>
</div>
