
  <%= if @comments_count > 0 do %>
    <h3 class="my-4 text-grey-darker"><%= @comments_count %> comments</h3>
  <% else %>
    <h3 class="my-4 text-sm text-grey-darker">No comment yet</h3>
  <% end %>
