<h3 class="mt-8 mb-4 text-gray-700 text-center"><i class="fas fa-comments"></i>
<%= if @comments_count > 0 do %>
   <%= ngettext("%{count} comment", "%{count} comments", @comments_count) %>
<% else %>
   <%= gettext("No comment yet") %>
<% end %>
</h3>
