<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag() %>
    <title>Palapa</title>
    <script defer src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="layout">
    <%= render PalapaWeb.LayoutView, "_navigation.html", assigns %>
    <%= render_existing view_module(@conn), "_navigation.html", assigns %>
    <%= render PalapaWeb.LayoutView, "_flash_notice.html", assigns %>
    
    <%= render @view_module, @view_template, assigns %>

    <footer class="footer bg-grey-lightest py-8 mt-8 text-center text-blue-dark">
      © 2018 Palapa SAS
    </footer>
  </body>
</html>
