<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>
    <title>Palapa</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="max-w-3xl p-8 mx-auto">
    <%= render "header.html", Map.put(assigns, :code, 500) %>

    <h1 class="text-3xl font-bold text-gray-800">Oops</h1>
    <h2 class="text-lg">Looks like we're having some server issues.</h2>

    <%= render "footer.html", assigns %>
  </body>
</html>
