.header {
  grid-area: header;
  z-index: 90;
}

/* Don't make the header sticky on small screens */
@screen sm {
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

.flash {
  grid-area: flash;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-areas: 
    "header"
    "flash"
    "content"
    "footer";
}

.main-content {
  grid-area: main-content;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.right-sidebar {
  grid-area: right-sidebar;
}

.right-sidebar-layout {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-gap: 2em;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main-content right-sidebar";
}

.article-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: "left-sidebar main-content";
}

@screen sm {
  .article-layout {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: minmax(auto, 1fr) minmax(800px, 2fr) 0.8fr;
      grid-template-areas: "left-sidebar main-content right-sidebar";
  }
}
