.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "main";

  .sidebar {
    display: none;
  }

  #toggle-mobile-menu {
    display: none;
  }
}

@screen sm {
  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(200px, 1fr) 6fr;
    grid-template-areas: "sidebar main";

    .sidebar {
      grid-area: sidebar;
      display: block;
      @apply h-screen overflow-y-auto overflow-x-hidden p-4 border-r;
      position: sticky;
      position: -webkit-sticky;
      left: 0;
      top: 0;
      background-color: rgb(40, 45, 75);
    }
  }
}

.menu-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar";
  text-align: center;
  @apply mx-auto;

  .sidebar {
    grid-area: sidebar;
    @apply h-screen overflow-y-auto overflow-x-hidden;
    @apply overflow-y-auto overflow-x-hidden;
    @apply bg-gray-100 p-4 border-r border-gray-200;
    z-index: 1000;
    background-color: rgb(40, 45, 75);
    /* position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 0; */
  }

  .main {
    display: none;
  }
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-areas:
    "header"
    "flash"
    "content"
    "footer";
}

.header {
  grid-area: header;
  z-index: 999;
  background-color: #fafafa;
  height: auto;
}

/* Don't make the header sticky on small screens */
@screen sm {
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

.flash {
  grid-area: flash;
}

@screen sm {
  .flash {
    @apply p-4;
  }
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main-content";
}

@screen sm {
  .page-layout {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 3fr) 1fr;
    grid-template-areas: ". main-content .";
  }
}

.large-page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main-content";
}

@screen sm {
  .large-page-layout {
    display: grid;
    grid-template-columns: 1fr minmax(700px, 6fr) 1fr;
    grid-template-areas: ". main-content .";
  }
}

.article-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "page-header"
    "page-sidebar"
    "main-content";
}

@screen sm {
  .article-layout {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(50vw, 2fr) 1fr;
    grid-template-areas:
      "page-header page-header"
      "main-content page-sidebar";
    @apply pl-4 pr-4;
  }
}

.left-sidebar-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "page-sidebar"
    "main-content";
  margin-bottom: 3em;
}

@screen sm {
  .left-sidebar-layout {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(300px, 1fr) minmax(450px, 2fr);
    grid-template-areas: "page-sidebar main-content ";
    @apply pl-4 pr-4;
  }
}

.main-content {
  grid-area: main-content;
}

.page-sidebar {
  grid-area: page-sidebar;
}

.scrollable-sidebar {
  max-height: 600px;
  @apply overflow-y-auto;
}

.scrollable-details {
  max-height: 175px;
  @apply overflow-y-auto;
}
