.header {
  grid-area: header;
  z-index: 1000;
}

/* Don't make the header sticky on small screens */
@screen sm {
  .header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

.flash {
  grid-area: flash;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-areas: 
    "header"
    "flash"
    "content"
    "footer";
}

.sidebar {
  grid-area: sidebar;
  @apply min-h-screen max-h-screen overflow-y-auto overflow-x-hidden;
  @apply bg-grey-lightest p-4 border-r border-grey-lighter;
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "sidebar main"
}

.main-content {
  grid-area: main-content;
}

.right-sidebar {
  grid-area: right-sidebar;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main-content";
}

@screen sm {
  .page-layout {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 3fr) 1fr;
    grid-template-areas: ". main-content .";
  }
}

.article-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "right-sidebar"
  "main-content"
  ;
  @apply p-4;
}

@screen sm {
  .article-layout {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: minmax(800px, 2fr) minmax(auto, 1fr);
      grid-template-areas: "main-content right-sidebar";
  }
}
