.header {
  grid-area: header;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 100;
}

.tab-navigation {
  grid-area: tab-navigation;
}

.flash {
  grid-area: flash;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-areas: 
    "header"
    "tab-navigation"
    "flash"
    "content"
    "footer";
}

@screen sm {
  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    grid-template-areas: 
      "header"
      "tab-navigation"
      "flash"
      "content"
      "footer";
  }

  .main-content {
    grid-area: main-content;
  }

  .left-sidebar {
    grid-area: left-sidebar;
  }

  .right-sidebar {
    grid-area: right-sidebar;
  }

  .right-sidebar-layout {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-gap: 2em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main-content right-sidebar";
  }

  .article-layout {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr minmax(700px, 2fr) 1fr;
    grid-template-areas: ". main-content .";
  }
}
