<div class="content article-layout">
  <div class="main-content"> 
    <h2 class="text-base text-gray-600 text-center tracking-wide"><%= gettext "Last activity" %></h2>

    <ul class="">
      <%= render_many @events, PalapaWeb.EventView, "event.html", conn: @conn %>
    </ul>
  </div>
</div>
