<div class="content page-layout">
  <div class="main-content"> 
    <h2 class="card-header text-center"><%= gettext "Latest activity" %></h2>

    <ul class="">
      <%= render_many @events, PalapaWeb.EventView, "event.html", assigns %>
    </ul>
  </div>
</div>
