<div class="h-full">
  <div class="text-center"><%= PalapaWeb.MemberView.avatar(@member, :medium) %></div>
  
  <div class="text-center capitalize"><%= link @member.name, to: member_path(@conn, :show, @conn.assigns.current_organization, @member), class: "text-green" %></div>
  <div class="text-grey-dark text-center text-xs uppercase"><%= @member.title %></div>
</div>
