<div class="sm:max-w-xl mx-auto flex-1 p-2 sm:p-4">
  <div class="mx-auto">
    <%= render "_personal_informations_list.html", assigns %>

    <%= if permit?(Palapa.Organizations.Policy, :create_personal_information, @current_member, @member) do %>
      <%= render "_personal_information_form.html", assigns %>
    <% end %>
  </div>
</div>
