<div class="content left-sidebar-layout">
  <div class="page-sidebar">
    <%= render PalapaWeb.Settings.SettingsView, "settings_navigation.html", assigns %>
  </div>

  <div class="main-content">
    <div class="card p-4">
      <%= render "billing_overview.html", assigns %>
    </div>

    <%= if @customer do %>
      <div class="card p-4 mt-8">
        <%= render "invoices.html", assigns %>
      </div>
    <% end %>
  </div>
</div>
