<div class="content page-layout">
  <div class="main-content" data-controller="message">
    <%= render "preferences.html", assigns %>
    <%= render "password_change.html", assigns %>
    <%= render "delete_account.html", assigns %>
  </div>
</div>
