<%= form_for @conn, Routes.invitation_path(@conn, :create, @conn.assigns.current_organization), [as: :invitation], fn form -> %>
  <p><%= gettext("Enter one email address per line:") %></p>

  <div class="field">
    <%= textarea form, :email_addresses, value: @prefill, class: "w-full h-24 border", tabindex: 1 %>
  </div>

  <div class="card-actions">
    <%= submit gettext("Send invitations"), class: "btn btn-green", tabindex: 1 %>
  </div>
<% end %>
